body {
    background-color: antiquewhite;
}
/*Ued to designate the style of the navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
/*User to place the navigation bar*/
li {
    float: left;
}
    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
    }
        /*Used to Color what is hovered over in the navigation bar.*/
        li a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }
    li.dropdown {
        display: inline-block;
    }
/*Design of the dropdown "list" from color to size.*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    /*Design of the items on the dropdown list. */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
        /*changes the color of the dropdown item when hovered over.*/
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}