body {
    background-color: antiquewhite;
}
/*add a black background color to the navigation bar.*/
.topnav {
    position: relative;
    background-color: blue;
    overflow: hidden;
}
    /*Add some flair to the navigation icons.*/
    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 22px;
    }
        /*Change the color of the icons when its hovered over.*/
        .topnav a:hover {
            background-color: orange;
            color: darkblue;
        }
    /*Change the color of the icon to the one that the user i currently on.*/
    .topnav:active {
        background-color: black;
        color: white;
    }
    /*Places the text on the right side of the navigation bar.*/
    .topnav b {
        float: left;
        color: forestgreen;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }